.custom-button {
  min-width: 145px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 13px;
  background-color: #153450;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: #153450;
    border: 1px solid #153450;
  }

  &.inverted {
    background-color: white;
    color: #153450;
    border: 1px solid #153450;

    &:hover {
      background-color: #153450;
      color: white;
      border: none;
    }
  }
}
